div.container>h3{
  margin-left: 50px;
}
div.row{
  padding: 50px;
}
div.col>h3{
  color:#5E5E5E;;
}
div.col>p{
  color: rgba(94, 94, 94, 0.7);
}

div.col > button{
  text-transform: capitalize;
  font-weight: bold;
  padding:20px;
  background-color: white;
  color:#7913E5;
  border:1px solid black;
border-radius: 10px 15px 15px 0px;
/* width: 323.11px; */
}
div.col>button:hover{
 color:white;
 background-color: #7913E5;
}
div.col>input{
 padding:25px;
 margin-top: 36px;
border:1px solid #062863;
 border-radius: 10px 15px 15px 0px;
width: 258.49px;
}

div.col>input[type=number]{
  color:#7913E5;
  font-weight: bold;

}
